body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color:#333;
    display:grid;
    justify-content: space-evenly;

    
}

img {
    width: 100px;
    height: 100px;
}

.text-content {
    padding-top: 50px;
    padding-bottom: 20px;
}

button {
display: inline-block;
outline: none;
cursor: pointer;
font-size: 14px;
padding: 0 12px;
line-height: 20px;
height: 30px;
max-height: 30px;
background: #566AE5;
font-weight: 700;
border: 0;
border-radius: 0;
color: #FFFFFF;
transition-timing-function: ease-in-out;
transition-property: box-shadow;
transition-duration: 150ms;
:hover {
    box-shadow: 0 2px 2px rgb(39 44 52 / 12%);
}
}
